
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;1,700&display=swap');

.hero-section {
  background-size: cover;
  background-position-y: center;
  text-align: center;
  margin: auto;
  background-repeat: no-repeat;
}

.hero-title h1 {
  font-size: 6em;
  color: #455073;
  line-height: 1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}


.hero-title h2 {
  font-size: 5em;
  color: #455073;
  line-height: 1;
}

.hero-title h3 {
  font-size: 3em;
  color: #455073;
  line-height: 1;
}

.hero-title p {
  margin: 10px 0px;
    color: #455073;
    font-size: 2em;
      font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

@media (max-width: 600px) {
    .hero-title h1 {
    font-size: 2em;
  }
}