@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;1,700&display=swap");

.about-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 150px;
}

.sobre-mi-title h2 {
  font-size: 3em;
  color: #455073;
  line-height: 1.2;
  margin: 10px 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.sobre-mi-title h3 {
  font-size: 3em;
  color: #455073;
  line-height: 1;
}

.sobre-mi-title p {
  color: #455073;
  font-size: 1.5em;
  font-weight: 200;
  font-family: "Source Sans Pro", sans-serif;
  text-align: end;
  padding: 40px 0px 40px 40px;
}

@media (max-width: 600px) {
  .sobre-mi-title h2 {
    font-size: 2em;
  }
  .about-container {
    grid-template-columns: 1fr;
    margin-bottom: 0px;
  }
  .sobre-mi-title p {
    text-align: left;
    padding: 0px;
}
}
